<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/admin-head.ejs') %>
  </head>
  <body>
    <div class="container-scroller">
      <%- include('../partials/admin-nav.ejs') %>
      <div class="container-fluid page-body-wrapper">
        <%- include('../partials/admin-side-nav.ejs') %>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
            
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title"><%= title %></h4>
                    <a class="btn btn-outline-primary btn-rounded btn-fw" href="/admin/adduser">Add User</a>

                    <table class="table table-striped">
                      <thead>
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Edit</th>
                        <th>Delete</th>
                   
                      </thead>
                      <tbody>
                        <% users.forEach(user => { %>
                            <tr>
                                <td><%= user.id %></td>
                                <td><%= user.fullname %></td>
                                <td><%= user.email %></td>
                                <td>
                                    <a href="/admin/users/<%= user.id %>"><img class="formimage" src="/static/admin/images/edit.png"></a>
                                </td>
                                <td>
                                    <a href="/admin/user/<%= user.id %>"><img class="formimage" src="/static/admin/images/delete.png"></a>
                                </td>
                            </tr>
                        <% }) %>
                     
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
             
            </div>
          </div>
          
          <%- include('../partials/admin-footer.ejs') %>
  </body>
</html>